@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 991px) {
  .sidebar {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
  }
}

.offcanvas-header {
  border-bottom: 2px solid #703734;
  font-weight: 500;
  color: #703734;
}

.nav-link {
  color: #946131;
  font-weight: 500;
}
.nav-link:hover {
  color: #b87333;
}
.navbar-logo {
  max-height: 100%; /* Ensures it fits within the navbar's height */
  display: inline-block; /* Keeps it inline with the text */
  vertical-align: middle; /* Aligns it properly with the text */
}

.btn {
  background-color: #946131;
  outline: 1px solid #703734;
  transition: all 0.5s ease;
}
.btn:hover {
  outline: 1px solid #703734;
  background-color: #b87333;
}
/* Improved Button Styles */
.create-fundraiser-btn {
  background-color: #946131;
  border: 2px solid #703734;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.create-fundraiser-btn:hover {
  background-color: #b87333;
  border-color: #946131;
  color: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.sign-in {
  text-decoration: none;
  color: #703734;
}
.sign-in:hover {
  color: #b87333;
}
.hidden {
  display: none;
}
/* Slider CSS */

.card-wrapper {
  max-width: 1100px;
  margin: 0 60px 35px;
  padding: 20px 10px;
  overflow: -moz-hidden-unscrollable;
}

.card-list .card-item {
  list-style: none;
}

.card-list .card-item .card-link {
  user-select: none;
  display: block;
  background: #fff;
  padding: 18px;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease;
}
.card-list .card-item .card-link:active {
  cursor: grabbing;
}
.card-list .card-item .card-link:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
  transform: scale(1.1);
  transition: 0.6s;
}

.card-list .card-link .card-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 10px;
}
.card-list .card-link .badge {
  font-weight: 400;
  padding: 8px 16px;
  font-size: 0.95rem;
  font-weight: 500;
  margin: 16px 0 18px;
  background: #63b941;
  width: fit-content;
  border-radius: 50px;
}

.card-list .card-link .card-title {
  font-size: 1.19rem;
  color: #000;
  font-weight: 600;
}

.card-list .card-link .card-button {
  height: 35px;
  width: 35px;
  color: #b87333;
  border-radius: 50%;
  margin: 30px 0 5px;
  background: none;
  cursor: pointer;
  border: 1px solid #b87333;
  transform: rotate(-45deg);
  transition: 0.4s ease;
}

.card-list .card-link:hover .card-button {
  color: #fff;
  background: #703734;
}

.card-wrapper .swiper-pagination-bullet {
  height: 13px;
  width: 13px;
  opacity: 0.5;
  background: #703734;
}
.card-wrapper .swiper-pagination-bullet:active {
  opacity: 1;
}

.card-wrapper .swiper-slide-button {
  color: #703734;
}

@media screen and (max-width: 768px) {
  .card-wrapper {
    margin: 0 10px 25px;
  }

  .card-wrapper .swiper-slide-button {
    display: none;
  }
}

/* Browse all features styling */
.grid-container {
  max-width: 1100px;
  margin: 70px 60px 35px;
  padding: 20px 10px;
}

.grid-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* changes in this list */
.grid-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.grid-item {
  list-style: none;
}

.grid-item .grid-link {
  user-select: none;
  display: block;
  background: #fff;
  padding: 18px;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.05);
  transition: 0.2s all ease;
}

.grid-item .grid-link:active {
  cursor: grabbing;
}

.grid-item .grid-link:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);

  transform: scale(1.1);
  transition: 0.6s;
}

.grid-link .grid-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 10px;
}

.grid-link .label {
  color: #fff;
  font-weight: 400;
  padding: 8px 16px;
  font-size: 0.95rem;
  font-weight: 500;
  margin: 16px 0 18px;
  background: #63b941;
  width: fit-content;
  border-radius: 50px;
}

.grid-link .grid-title {
  font-size: 1.15rem;
  color: #000;
  font-weight: 600;
}

.grid-link .grid-button {
  height: 35px;
  width: 35px;
  color: #b87333;
  border-radius: 50%;
  margin: 30px 0 5px;
  background: none;
  cursor: pointer;
  border: 1px solid #b87333;
  transform: rotate(-45deg);
  transition: 0.4s all ease;
}

.grid-link:hover .grid-button {
  color: #fff;
  background-color: #703734;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.pagination-btn {
  height: 35px;
  width: 35px;
  font-size: 1.5rem;
  color: #b87333;
  border: 1px solid #b87333;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s all ease;
}

.backward-btn {
  transform: rotate(180deg);
}

.pagination-btn:disabled {
  background-color: #ddd;
  border-color: #ddd;
  color: #aaa;
  cursor: not-allowed;
}

.pagination-btn:hover:not(:disabled) {
  color: #fff;
  background-color: #703734;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .grid-item:nth-child(n + 5) {
    display: none;
  }
  .grid-item.hidden {
    display: block;
  }

  .grid-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .grid-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
  }

  .grid-item {
    list-style: none;
  }

  .grid-item .grid-link {
    display: flex;
    align-items: center;
    gap: 15px;
    background: #fff;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease;
  }

  .grid-item .grid-link:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
    transform: scale(1.05);
    transition: 0.6s;
  }

  .grid-link .grid-image {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
  }

  .grid-link {
    position: relative;
  }
  .grid-link .label {
    position: absolute;
    top: 2px;
    left: 130px;
    color: #fff;
    font-size: 0.68rem;
    padding: 2px 10px;
    background: #b87333;
    border-radius: 70px;
    z-index: 10;
  }

  .grid-link .grid-title {
    font-size: 0.8rem;
    color: #000;
    font-weight: 600;
    text-align: left;
  }

  .grid-link .grid-button {
    height: 35px;
    width: 35px;
    color: #b87333;
    border-radius: 50%;
    margin: 10px 0 5px;
    background: none;
    cursor: pointer;
    border: 1px solid #b87333;
    transform: rotate(-45deg);
    transition: 0.4s ease;
  }

  .grid-link:hover .grid-button {
    color: #fff;
    background-color: #703734;
  }

  .show-more-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #946131;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid #703734;
    visibility: visible;
    transition: all 0.5s ease;
  }

  .show-more-button:hover {
    outline: 1px solid #703734;
    background-color: #b87333;
  }

  .show-more-button {
    margin-left: auto;
    margin-right: auto;
  }
}

/* box styling */

.flex {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease-in-out; /* Smooth transition */
}

.container-fluid.visible {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Reset position */
}
